<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - New Recipe</title>
  </head>
  <body>
    <%- include('../navbar', { user: user }); %> <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %> <% if (recipe) {%>
    <h1>Editar Receita</h1>
    <form id="new-recipe-form">
      <label for="recipeName">Nome da Receita</label><br />
      <input
        required
        type="text"
        name="recipeName"
        id="recipeName"
        data-testid="nome-receita"
        value=<%= recipe.name %>
      /><br />
      <ul id="ingredientsList">
        <% recipe.ingredients.map(ingredient => { %>
        <li class="ingredient-item"><%= ingredient %></li>
        <%})%>
      </ul>
      <input type="text" name="ingredients" id="ingredients" data-testid="ingredientes" />
      <button
        for="ingredients"
        type="button"
        id="add-ingredient-button"
        data-testid="adicionar-ingrediente"
      >
        Adicionar Ingrediente
      </button>
      <br />
      <label for="instructions">Modo de Preparo</label><br />
      <input
        required
        type="text"
        name="instructions"
        id="instructions"
        data-testid="modo-de-preparo"
        value=<%= recipe.instructions %>
      /><br />
      <button type="submit" data-testid="postar-receita">Salvar Receita</button>
    </form>
    <% } %>
  </body>
  <script>
    const addIngredientButton = document.querySelector('#add-ingredient-button');
    const ingredientsList = document.querySelector('#ingredientsList');
    const ingredientInput = document.querySelector('#ingredients');
    const form = document.querySelector('#new-recipe-form');

    const createNewIngredient = () => {
      const item = document.createElement('li');
      const deleteButton = document.createElement('button');

      item.innerText = ingredientInput.value;
      deleteButton.innerText = 'Excluir ingrediente';
      item.className = 'ingredient-item';
      deleteButton.className = 'delete-button';
      ingredientsList.appendChild(item);
      ingredientsList.appendChild(deleteButton);
      ingredientInput.value = null;

      deleteButton.addEventListener('click', () => {
        item.remove();
        deleteButton.remove();
      });
    };

    const addExistingIngredients = () => {
      const ingredientItems = document.querySelectorAll('.ingredient-item');
      for (let i = 0; i < ingredientItems.length; i += 1) {
        const deleteButton = document.createElement('button');

        deleteButton.innerText = 'Excluir ingrediente';
        deleteButton.className = 'delete-button';

        ingredientItems[i].insertAdjacentElement('afterend', deleteButton);

        deleteButton.addEventListener('click', () => {
          ingredientItems[i].remove();
          deleteButton.remove();
        });
      };
    };

    const onSubmit = () => {
      const name = document.querySelector('#recipeName');
      const instructions = document.querySelector('#instructions');
      const ingredients = document.querySelectorAll('.ingredient-item');
      const ingredientsArr = [];

      for (let i = 0; i < ingredients.length; i += 1) {
        ingredientsArr.push(ingredients[i].innerText);
      };

      return {
        name,
        ingredients: ingredientsArr,
        instructions,
      };
    }

    window.onload = () => addExistingIngredients();
    addIngredientButton.addEventListener('click', createNewIngredient);
    form.addEventListener('submit', onSubmit);
  </script>
</html>
