<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Admin</title>
  </head>
  <body>
    <h1>Cookmaster</h1>
    <p>Usuário atual: <%= `${user.firstName} ${user.lastName}` %></p>
    <pre><%= JSON.stringify(user, null, 4) %></pre>
    <button
      onclick="window.location.pathname='/me/recipes'"
      data-testid="minhas-receitas"
    >Minhas Receitas</button>
    <button
      onclick="window.location.pathname='/recipes/search'"
      data-testid="buscar-receita"
    >Buscar Receita</button>
    <button
    onclick="window.location.pathname='/recipes/new'"
    data-testid="nova-receita">Nova Receita</button>
    <button
    onclick="window.location.pathname='/recipes/new'"
    data-testid="minha-conta">Minha Conta</button>
    <button onclick="window.location.pathname='/logout'" data-testid="logout">Logout</button>
    <% recipes.map(el => {%>
      <h1> <%= el.name %></h1>
      <h3> <%= el.user %></h3>
      <a href="/recipes/<%= el.id %>">Ver mais</a>
    <%})%>
  </body>
</html>
