<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
    <style>
      body {
        padding: 0;
        margin: 0;
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .recipe {
        border: 1px solid rgb(41, 41, 41);
        border-radius: 4px;
        margin: 5px;
        padding: 1%;
        width: 350px;
        height: 100px;
      }

      header {
        background-color: #f2f2f2;
        color: rgb(41, 41, 41);
        display: flex;
        font-size: larger;
        font-weight: 700;
        justify-content: space-between;
        margin: 0;
        padding: 1%;
      }

      h2 {
        margin: 1%;
      }

      section {
        border: 1px solid rgb(41, 41, 41);
        border-radius: 4px;
        margin-top: 10px;
      }

      .shadow {
        box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
      }

      .pointer {
        cursor: pointer;
      }

    </style>
  </head>
  <body>
    <header class="shadow">
      <span>Cookmaster</span>
      <% if (!user) { %>
        <a href="/login"><span class="pointer" data-testid="login">Login</span></a>
      <% } else { %>
        <div>
          <span> <%= `${user.name} ${user.lastName}` %>|</span>
          <span class="pointer" data-testid="logout">Logout</span>
        </div>

      <% } %>
    </header>
    <section>
      <span>Eviada por: <%= recipe.user %></span>
      <div class="container">
        <span>Receita: <%= recipe.name %></span>
        <div>
          <button data-testid="buscar-receita">Buscar Receitas</button>
          <% if (user) { %>
            <a href="/edit"><button data-testid="editar-receita">Editar receita</button></a>
            <a href="/delete"><button data-testid="excluir-receita">Excluir receita</button></a>
          <% } %>
        </div>
      </div>
      <div>
        <h2>Ingredientes</h2>
        <% recipe.ingredients.split(',').forEach((ingredient) => { %>
          </br><span><%= ingredient %></span>
        <% }) %>
        <h2>Modo de Preparo</h2>
        <p> <%= recipe.instructions %></p>
      </div>
    </section>
  </body>
</html>
