<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Details</title>
  </head>
  <body>
    <header class="shadow">
      <span>Cookmaster</span>
      <% if (!user) { %>
        <a href="/login"><span class="pointer" data-testid="login">Login</span></a>
      <% } else { %>
        <div>
          <span> <%= `${user.name} ${user.lastName}` %>|</span>
          <a href="/logout"><span class="pointer" data-testid="logout">Logout</span></a>
        </div>
      <% } %>
    </header>
    <section>
      <span>Eviada por: <%= recipe.user %></span>
      <div class="container">
        <span>Receita: <%= recipe.name %></span>
        <div>
          <button data-testid="buscar-receita" onclick="window.location.pathname='/recipes/search'">Buscar Receitas</button>
          <% if (user) { %>
            <button data-testid="editar-receita" onclick="window.location.pathname='/edit'">Edit</button>
            <a href=<%=`/recipes/${recipe.id}/edit`%>><button data-testid="editar-receita">Editar receita</button></a>
            <a href=<%=`/recipes/${recipe.id}/delete`%>><button data-testid="excluir-receita">Excluir receita</button></a>
          <% } %>
        </div>
      </div>
      <div>
        <h2>Ingredientes</h2>
        <% recipe.ingredients.split(',').forEach((ingredient) => { %>
          </br><span><%= ingredient %></span>
        <% }) %>
        <h2>Modo de Preparo</h2>
        <p> <%= recipe.instructions %></p>
      </div>
    </section>
  </body>
</html>
