<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Details</title>
  </head>
  <body>
    <header>
      <h4>Cookmaster</h4>
      <% if (user) { %>
        <span><%=user.firstName%></span><span> <%=user.lastName%></span>
        <a href="/logout"><button data-testid="logout">Logout</button></a>
      <% } else {%>
        <a href="/login"><button data-testid="login">Login</button></a>
      <% } %>
    </header>

    <h1><%=recipeDetails.name%></h1>
    <h4>Enviado por: <%=recipeDetails.user%></h4>

    <% if (userControl) { %>
      <a data-testid="editar-receita" href="/recipes/<%=recipeDetails.id%>/edit">
        <button>Editar Receita</button>
      </a>

      <a data-testid="excluir-receita" href="/recipes/<%=recipeDetails.id%>/delete">
        <button>Excluir Receita</button>
      </a>
    <% } %>

    <section>
      <% recipeDetails.ingredients.forEach(ingred => { %>
        <ul>
          <li><%=ingred%></li>
        </ul>
      <% }) %>
    </section>
    <section>
      <h2>Modo de Preparo</h2>
      <p><%=recipeDetails.instructions%></p>
    </section>
  </body>
</html>
