<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <title>Cookmaster - Home</title>
  </head>
  <body>

    <%- include('header', {user})%>

    <main>
      <div class="container" style="height:1500px;">
          <div class="row pt-5">
              <div class="col text-center">
                <h1>Boas vindas ao Cookmaster <%= user && user.name %> !</h1>
              </div>
          </div>
          <div class="row pt-5">
            <div class="col">
              <h1>Receitas</h1>
            </div>
            <div class="col">
              <a href="/recipes/search"><button data-testid="buscar-receita" class="btn btn-warning">Buscar Receita</button></a>
              <% if (user) {%>
                <a href="/recipes/new"><button data-testid="nova-receita" class="btn btn-primary">Nova Receita</button></a>
              <% } %>
            </div>
        </div>
        <div class="row">
          <% recipes && recipes.map(recipe => { %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Receita: <%= recipe.name %> </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p>Usuário: <%= recipe.user %> </p>
                    <a href=<%= `/recipes/` + recipe.id %>>Ver mais</a>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </main>

  </body>
</html>
