<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Receitas</title>
  </head>
  <body>
    <div class="container">
      <%- include('header', {user}); %>
      <div class="botoes">
        <% if (user && user.id === recipes.userId) { %>

        <div class="editar">
          <a href="/recipes/<%= recipe.recipeId %>/edit"
            ><Button data-testid="editar-receita">Editar Receita</Button></a
          >
        </div>

        <div class="excluirr">
          <a href="/recipes/<%= recipe.recipeId %>/delete"
            ><Button data-testid="excluir-receita">Excluir Receita</Button></a
          >
        </div>

        <% } %>
      </div>

      <div class="receita">
        <h1 class="titulo"><%= recipe.name %></h1>
        <p>Por: <%= recipe.user %></p>
        <ul>
          <% recipe.ingredients.map(x => { %>
          <li><%= x %></li>
          <% }) %>
        </ul>

        <h1 class="modo">Modo de Preparo</h1>
        <p><%= recipe.instructions %></p>
      </div>

      <a href="/">Voltar</a>
    </div>
  </body>
</html>
